body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

circle {
	fill: var(--vscode-editor-foreground);
}

circle:hover {
	cursor: -webkit-grab;
}

circle:active {
	cursor: -webkit-grabbing;
}

path {
	stroke: var(--vscode-focusBorder);
	stroke-width: 6px;
	fill: transparent;
}

line {
	stroke: var(--vscode-editor-foreground);
	fill: transparent;
}

svg {
	background-color: var(--vscode-editor-background);
	width: 100%;
	height: 100%;
}

text {
	user-select: none;
	fill: var(--vscode-editor-foreground);
	stroke: var(--vscode-editor-background);
	cursor: default;
	stroke-width: 0.5px;
	font-family: "Arial Rounded MT";
}

line.thicc {
	stroke-width: 3px;
}